.list_item {
    width: 100%;
    padding: 0px;
    display: flex;
    border-bottom: 2px solid rgb(183, 179, 179);
}

.item_text {
    width: 80%;
    text-align: left;
}

.item_text_is_done {
    text-decoration: line-through;
}