.list-item {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid rgb(183, 179, 179);
}

.item-text {
    width: 80%;
    text-align: left;
}

.item-text-is-done {
    text-decoration: line-through;
}