.list_items {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.list_item{
    border: 2px solid green;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.item_text {
    width: 80%;
}

.item_text_is_done{
    text-decoration: line-through;
}