.app_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    border: 3px solid black ;
  }