.footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.item-number {
    font-size: 20px;
}
 
.buttons-block {
    display: flex;
    gap: 10px;
}